<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{% url 'todo_list_view' %}" style="color: #ff5e62;">To-Do Lists</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="{% url 'todo_list_view' %}" style="color: #333;">Мои списки</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
