{% extends 'base.html' %}

{% block title %}Список броней{% endblock %}

{% block content %}
<h2>Список броней</h2>
<table class="table">
    <thead>
        <tr>
            <th>Пользователь</th>
            <th>Стол</th>
            <th>Дата</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for res in reservations %}
        <tr>
            <td>{{ res.user.username }}</td>
            <td>{{ res.table.number }}</td>
            <td>{{ res.date }}</td>
            <td>{{ res.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
